.navbar {
	h3 {
		font-size: 1rem;
		@mixin atMedium {
			font-size: 1.75rem;
		}
	}

	&--color .navbar-nav li {
		background-color: $secBlack;
		@mixin atLarge{
			background-color: transparent;
		}
	}

	&--nav-color {
		background-color: $mainBlack;
		transition: all 1s ease;
	}
}